.popup__button-close{
  width: 58px;
  height: 58px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-image: url("../../../images/Close_Icon.svg");
  background-size: contain;
  background-color: initial;
  position: absolute;
  right: -50px;
  top: -50px;
}

.popup__button-close:hover {
  opacity: .4;
  transition: .4s linear;
}

@media screen and (max-width: 599px) {
  .popup__button-close {
  right: -10px;
  }
}

