.element__cards {
  list-style: none;
  display:grid;
  grid-template-columns:repeat(auto-fit, 282px);
  grid-gap: 20px 18px;
  grid-auto-flow: dense;
  justify-content: center;
  padding-left: 0;

}
